NODE_ENV=development
PORT=4000
FRONTEND_URL=http://localhost:3000
CORS_ALLOWED_ORIGINS=
# Exemple prod:
# FRONTEND_URL=https://<votre-frontend>.vercel.app
# CORS_ALLOWED_ORIGINS=https://<votre-frontend>.vercel.app,https://*.vercel.app
TYPEORM_SYNCHRONIZE=false

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=paymaster
DATABASE_URL=
DATABASE_SSL=false

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_ENABLED=false

PAYMENT_PROVIDER_MOCK=true

NOTCHPAY_API_KEY=
NOTCHPAY_BASE_URL=https://api.notchpay.co
NOTCHPAY_WEBHOOK_SECRET=

ZIKOPAY_API_KEY=
ZIKOPAY_API_SECRET=
ZIKOPAY_BASE_URL=https://api.payment.zikopay.com/v1
ZIKOPAY_WEBHOOK_SECRET=
ZIKOPAY_FORCE_CURRENCY=
ZIKOPAY_AUTO_FALLBACK_CURRENCY=false
ZIKOPAY_DEFAULT_OPERATOR=
ZIKOPAY_DEFAULT_PHONE=

RESEND_API_KEY=
RESEND_FROM=no-reply@boost-performers.com

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
